.tag-list {
    margin: 0;
    padding: 0;

    .tag-item {
        border: 1px solid #0088cc;
        display: inline-block;
        margin: 2px;
        padding: 2px 4px;

        button {
            background: none;
            border: none;
            box-shadow: none;
            padding: 0;
            padding-left: 5px;

            &:hover {
                box-shadow: none;
            }
        }
    }
}
